html {
  box-sizing: border-box;
  font-family: "   Open Sans";
  max-height: 500px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  text-align: left;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  margin: 0 0 1rem;
  padding: 0;
  width: 100%;
}

body {
  font-size: 2rem;
  text-align: left;
  font-style: italic;
  position: absolute;
  margin: 0;
}

p {
  font-size: 2rem;
  line-height: 1.5;
}

img {
  position: relative;
  padding-top: 0;
  max-width: 50em;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.contentdiv {
  left: auto;
  bottom: .2rem;
  transform: translateX(-50%);
}
