html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  padding: 0;
  width: 100%;
  line-height: 1.4em;
  text-align: left;
  margin-top: 1em;
}

body {
  margin: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.contentdiv {
  position: absolute;
  bottom: 0;
  left: 50%
  ;transform: translate(-50%);
  padding-left: 1.5rem;
  max-width: 50em;
  max-height: 500px;
  width: 100%;
  text-align: left;

}

.contentdiv p{
  font-size: 2rem;
  padding-right: 1em;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  font-style: italic;
}

.contentdiv h2{
  display: inline;
  font-size: 4.1rem;
  text-align: left;
  line-height: 1.5;
  font-size: 4rem;

}
